---
// Component Imports
import Button from "../components/Button.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro + TailwindCSS</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.0/p5.js"
		></script>
	</head>

	<body>
		<div class="grid place-items-center h-screen content-center">
			<Button>Click this!</Button>
			<Button>Button two</Button>
			<a href="/markdown-page" class="p-4 underline"
				>Markdown is also supported...</a
			>
		</div>
		<script src="/components/script.js"></script>
	</body>
</html>
